{% extends 'base.html' %}
{% block title %} 
About
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="talk_us">
        <h2>About Us</h2>
        <p>
            I am a mechanical engineer with a passion for problem-solving and a keen interest in leveraging software solutions to address engineering challenges. My journey in software engineering began with the ALX Software Engineering program, where I am currently enrolled as a student. Through this program, I am acquiring the skills and knowledge necessary to develop innovative software solutions that can make a meaningful impact in the engineering field.
        </p>
        <p>
            As part of my journey in software engineering, I am excited to present OptiDash: THE NSGA-II DASH BOARD. This project serves as a culmination of my learnings and efforts during my time in the ALX program. It showcases my specialization in optimization and simulation of engineering processes, highlighting my ability to develop tools that can aid in decision-making and problem-solving within the engineering domain.
        </p>
        <p>
            OptiDash: THE NSGA-II DASH BOARD is not just a portfolio project; it represents my dedication to applying software engineering principles to real-world challenges. By providing a user-friendly platform for Multi Objective Problem solving using NSGA-II, I aim to contribute to the efficiency and effectiveness of engineering processes, ultimately driving innovation and progress in the field.
        </p>
        <p>
            Thank you for joining me on this journey as I continue to explore the intersection of engineering and software development, seeking new opportunities to make a positive impact through technology.
        </p>
    </div>
</div>

{% endblock %}