{% extends 'base.html' %}
{% block title %}
Contact
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="talk_us">
        <h2 >
            Contact Us
        </h2>
        <ul>
            <li>+2347039453076</li>
            <li>+2347012162731</li>
    
        </ul>
        <h2>
            Email
        </h2>
        <ul><li>abulyaqs@gmail.com</li></ul>
        <p>
            We value your feedback, inquiries, and suggestions. Whether you have questions about our services, need assistance with using our platform, or want to explore collaboration opportunities, we're here to assist you.
        </p>
        <p>
            Additionally, you can stay connected with us through our social media platforms. Look for the icons located on our main page to access our profiles. We're active on various community and social media platforms, where we share updates, engage with our audience, and provide valuable insights into our projects and initiatives.
        </p>
        <p>
            Your feedback is essential to us as we strive to improve our services and better serve our community. Don't hesitate to get in touch with us – we're here to listen and assist you in any way we can.
        </p>
        <p>
            Thank you for choosing to connect with us!
        </p>
    </div>
</div>

{% endblock %}