{% extends 'base.html' %}
{% block title %} 
About
{% endblock %}

{% block content %}

<div class="container-fluid" id="genDiv">
    <h2 id="heading">OptiDash</h2>
    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-6">

 
            <form class="form-inline" id="criteriaForm" method="POST"></form>
                <div class="row input-group" id="criteriaGen">
                    <label id="label_id" for="rows">Number of decision variables</label>
                    <input type="number" id="rows" name="rows" value="3">
                    <label id="label_id1" for="cols">Number of Criteria</label>
                    <input type="number" id="cols" name="cols" readonly value="3" hidden>
                    <div class="input-group-append">
                        <button id="tableGen" onclick="generateTable()">Generate Problem Matrix</button>
                    </div>
                    <!-- <button id="tableGen" onclick="generateTable()">Generate Problem Matrix</button> -->

                </div>
            

                <div class="container-fluid">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="row">
                        <div class="table-responsive" id="table-container"></div>
                    </div>
                
                </div>

                <div id="results-container"></div>
                <div id="plot"></div>
                <button id="tableGen" type="button" onclick="submitFormData(event)">Submit</button>
            </form>
        </div> 
      
    


        <div class="col-lg-6">
            <div id="instructions">
                <h3>How to Use OptiDash</h3>
                <p>Welcome to OptiDash! Follow these instructions to get started:</p>
                <ol>
                    <li>Fill out the form with the appropriate details. Pay special attention to the format of the objective function. Use <code>**</code> for squaring.</li>
                    <li>Note: The decision variable filled should appear in same way they are in the objective functions</li>
                    <li>Also note that if your problem is a two(2) objective problem, ignore the colums and rows of the third objective</li>
                    <li>Respect the general format of filling out the objective function, this would be properly explain below, the point though is to avoid any sub computations within the objective function's body, all computation should be within the return value</li>
                    <li>If you encounter any issues refresh and fill the form appropriatly and submit again</li>
                    <li>If that does not solves it, please do contact us</li>
                
                    <li>Here’s an example of an objective function:
                        <pre>
        <code>def objective_function(I):
        x0 = I[0]
        x1 = I[1]
        x2 = I[2]
        x3 = I[3]
        x4 = I[4]
        x5 = I[5]
        x6 = I[6]
        return 0.5 * x0 * x1 * (1 + 100 * (5 + sum((xi - 0.5)**2 - np.cos(20 * np.pi * (xi - 0.5)) for xi in [x2, x3, x4, x5, x6])))</code>
                        </pre>
                    </li>
                    <li>Make sure the decision variables provided in the form exist in the same manner in the objective function.</li>
                    <li>When filling the form, only supply the function's return formula as seen above. For example:
                        <pre>
        <code>0.5 * x0 * x1 * (1 + 100 * (5 + sum((xi - 0.5)**2 - np.cos(20 * np.pi * (xi - 0.5)) for xi in [x2, x3, x4, x5, x6])))</code>
                        </pre>
                    </li>
                    <li>Click "Submit" and watch as the Pareto optimal front is dynamically searched for.</li>
                    <li>The corresponding generated Pareto optimal data will be displayed in a tabular form for your review.</li>
                </ol>
                <p>We hope you find OptiDash helpful for your optimization needs. Happy optimizing!</p>
            </div>
        </div>
        </div>
        </div>

    </div>
</div>

<!-- <div id="table-container"></div> -->
{% endblock %}